
* {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: 500;

}
form {
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 30px 5px 10px 50px;
  width: auto;
  max-width: 300px;
}
.baslik {
  color: red;
  font-size: 18px;
}


.btn{
    border-radius: 6px;
    background-color: #828b9f;
    padding: 3px 30px;
    margin-top: 10px;
    
}
input{
    margin-top: 5px;
}